body {
	background-color: #EEE5F6;
	text-align: center;
}



h1, h2, p {
	color: #313131;
	font-family: 'Work Sans', sans-serif;
}

h1 {font-size: 70px}

h2 {font-weight: 100 }

a {
	text-decoration: underline;
	color: #313131;
}
